@import "tailwindcss";

@theme {
  --color-primary: #FF7A3D;         /* Primary Glow Orange */
  --color-secondary: #310405;       /* Deep Crimson */
  --color-background: #010303;      /* Background Black */
  --color-accent: #C68867;          /* Soft Ember */
  --color-text: #F5F5F5;            /* Highlight White */
  --color-lava: #6D0304;            /* Lava Red */
  --color-elevated: #14181C;        /* Elevated Surface */
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
